# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/includes/
/misc/
/modules/
/profiles/
/scripts/
/themes/
sites/all/libraries/
sites/all/modules/ctools/
sites/all/modules/devel/
sites/all/modules/typo/
sites/all/themes/
sites/default/
/.idea/
sites/example.sites.php
.editorconfig
.htaccess
authorize.php
CHANGELOG.txt
COPYRIGHT.txt
cron.php
index.php
INSTALL.mysql.txt
INSTALL.pgsql.txt
install.php
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
robots.txt
update.php
UPGRADE.txt
web.config
xmlrpc.php